.menu {
  display: flex;
  flex-direction: row;
  height: 48pt;
  background: $dark;
  color: $tone;
  position: fixed;
  width: 768pt;
  padding: 0 calc((100% - 768pt) / 2);
  >div,
  ul {
    align-items: center;
  }
  .logo {
    font-size: 20pt;
    font-weight: 100;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0 10pt;
    position: relative;
    img {
      width: 30pt;
    }
    span {
      padding: 0 10pt;
    }
  }
  a {
    color: inherit;
    text-decoration: none;
  }
  ul {
    position: relative;
    display: flex;
    flex-direction: row;
    li {
      list-style: none;
      position: relative;
      height: 100%;
      >* {
        height: 100%;
        padding: 0 10pt;
        display: flex;
        align-items: center;
      }
      a {
        font-size: 14pt;
      }
    }
  }
  .toolbox {
    margin-left: auto;
  }
}
