@import 'reset';
@import 'font';
@import 'util';
@import 'color';
@import 'plugin';

@import 'menu';
@import 'footer';
@import 'banner';
@import 'page';

body {
  background-color: $dark;
}

#app {
  display: flex;
  position: relative;
  min-height: 100vh;
  width: 100%;
  flex-direction: column;
  background-color: $white;
}

.main {
  min-height: 100vh;
  width: 100%;
  .container {
    margin: 10pt 0;
    width: 768pt;
    padding: 0 calc((100% - #{$width}) / 2);
  }
}

.nuxt-progress {
  top: 48pt;
  height: 3pt !important;
  pointer-events: none;
}

*::selection {
  color: $white;
  background-color: $tone;
}