@import 'reset';
@import 'font';
@import 'color';

@import 'menu';

#app {
  display: flex;
  position: relative;
  min-height: 100vh;
  width: 100%;
  flex-direction: column;
}

.nuxt-progress {
  top: 48pt;
  height: 3pt !important;
  pointer-events: none;
}