@import 'reset';
@import 'font';
@import 'util';
@import 'color';

@import 'menu';
@import 'footer';
@import 'banner';

#app {
  display: flex;
  position: relative;
  min-height: 100vh;
  width: 100%;
  flex-direction: column;
  background-color: $paper;
}

.main {
  min-height: 100vh;
  width: 100%;
  .container {
    width: 768pt;
    padding: 0 calc((100% - #{$width}) / 2);
  }
}

.nuxt-progress {
  top: 48pt;
  height: 3pt !important;
  pointer-events: none;
}
